@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

fieldset {
    padding-bottom: 10px;
  }
  
  textarea {
    width: 600px;
    height: 250px;
  }
  
  input {
    width: 600px;
  }
  
  label {
    width: 145px;
    vertical-align: top;
  }

  .navbar-dark {
    background-color: #a50044;
}

.nav-link {
  cursor: pointer;
}